<h1>Office Hours</h1>
<center><table>
  <thead>
    <tr>
      <% days.each do |day| %>
        <th><%= day['day'] %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <% times.each do |time| %>
      <tr>
        <% days.each do |day| %>
          <% if !time_slot_available?(day, time) %>
            <td>
              <button class="button round" class="taken" type="text">
                <%= select_user(day, time) %>
              </button>
            </td>
          <% else %>
            <td>
              <form action="/office_hours" method="post">
                <input type="hidden" name="<%= day['id'] %>">
                <input type="hidden" name="<%= time['id']%>">
                <button class="button round" type="submit">
                  <%= time['time_slot']%>
                </button>
              </form>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table></center>
